{
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": "*.tsx",
      "options": {
        "parser": "babel"
      }
    }
  ],
  "semi": true,
  "arrowParens": "avoid",
  "parser": "typescript",
  "endOfLine": "auto"
}
